$bg-color: rgb(84, 84, 245);

$cor-primaria: rgb(0, 0, 255);
$cor-secundaria: #e74c3c;
$cor-card: #2ecc71;

$cardtop: rgb(19, 143, 91);
$cardbody: rgb(124, 233, 170);
$cardDescColor: rgb(78, 78, 78);
$cardContentColor: mediumblue;

$moneyCost: rgb(72, 255, 0);
$moneyPremium: rgb(255, 174, 0);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MainBG {
  background-color: $bg-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col-atr {
  border: 2px solid rgb(19, 143, 91);
  border-radius: 15px;
  background-color: rgb(124, 233, 170);
  margin: 15px;
  padding-left: 20px;
}

#Footer {
  background-color: blueviolet;
  color: aliceblue;
}
#list {
  padding: 10px;
}

.teste {
  color: blue;
}

.colwrap {
  flex-wrap: wrap;
}

.mainhead {
  position: relative;
  background-image: url("./imgs/headerbg.png"); /* Substitua pelo caminho real da imagem de fundo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white !important;
}

.daRulesHead {
  position: relative;
  background-image: url("./imgs/corerulesbg.jpg"); /* Substitua pelo caminho real da imagem de fundo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white !important;
}

.mainWorldHead {
  position: relative;
  background-image: url("./imgs/worldbuilding2.webp"); /* Substitua pelo caminho real da imagem de fundo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white !important;
}

/* Estilize o overlay */
.overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade desejada */
  z-index: 1; /* Defina um valor menor para isolar o overlay do texto */
}

.headtext {
  color: aliceblue;
  font-size: xx-large;
  position: relative; /* Adicione essa propriedade para ajustar o texto */
  z-index: 2; /* Defina um valor maior para manter o texto acima do overlay */
}

.equips-card {
  background-color: $cor-card;
}

.cardDesc {
  color: $cardDescColor;
  font-weight: bold;
}

.moneyCost {
  color: $moneyCost;
}

.moneyPremium {
  color: $moneyPremium;
}

.cardContent {
  color: $cardContentColor;
  font-weight: bold;
  font-style: italic;
}

.spellContent {
  color: mediumblue;
}

.spellDesc {
  color: navy;
  font-weight: bold;
}

.equipsText {
  font-weight: bold;
  color: rgb(78, 78, 78);
}

.equipsJson {
  color: rgb(0, 38, 255);
  font-style: italic;
  font-weight: bolder;
}

.npcText {
  font-weight: bold;
  color: rgb(78, 78, 78);
}

.npcTextTitle {
  font-weight: bold;
  color: rgb(78, 78, 78);
  font-size: x-large;
}

.npcJson {
  color: rgb(0, 38, 255);
  font-style: italic;
  font-weight: bolder;
}

.spellsText {
  font-weight: bold;
  color: rgb(78, 78, 78);
}

.spellsJson {
  color: rgb(0, 38, 255);
  font-style: italic;
  font-weight: bolder;
}

.perksName {
  font-size: larger;
  font-weight: bold;
  color: rgb(78, 78, 78);
}

.perksEffect {
  color: rgb(0, 38, 255);
  font-style: italic;
  font-weight: bolder;
}

.mainNavbar ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.mainNavbar li {
  float: left;
}

.mainNavbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mainNavbar li a:hover:not(.active) {
  background-color: #111;
}

.mainNavbar .active {
  background-color: #04aa6d;
}

.mainColor {
  color: $cor-primaria;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.npcJsonScrollable {
  max-height: 100px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Habilita a barra de rolagem vertical quando o conteúdo ultrapassar a altura máxima */
  white-space: pre-wrap; /* Permite quebras de linha conforme necessário */
}